.header {
	background: pink;
	padding: 10px;
	border: 10px aquamarine solid;
}
.sidebar {
	max-width: 20%;
	background: lightblue;
	border: 5px dotted;
	padding: 15px;
	display: inline-block;
}
.main {
	background: lightyellow;
	border: 5px dotted;
	padding: 25px;
	display: inline-block;
}
